h2 {
    text-decoration: underline;
}
.new-tweet {
    border-radius: 4px;
  background-color: #eaeaea;
  padding: 1em 1em 0 1em;
  margin: 2em;
  display: block;
  border: 1px solid #bcbcbc;
}

.new-tweet textarea {
    overflow: auto;
    padding: 5px;
    width: 100%;
}

.new-tweet span {
    float: right;
    color: black;
}

.new-tweet .counterRed {
    float: right;
    color:red;
}